<?xml version="1.0"?>
<launch>

  <param name="robot_description" textfile="$(find val_description)/model/urdf/valkyrie_sim.urdf" />

  <arg name="frame" value="map"/>
  <arg name="child_frame" value="pelvis"/>

  <node name="robot_pose_publisher" pkg="valkyrie_oscr" type="robot_pose_publisher" args="_frame:=$(arg frame) _child_frame:=$(arg child_frame)">
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <arg name="config_file" value="$(find valkyrie_oscr)/config/valkyrie.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(arg config_file)"/>

  <node name="floor_publisher" pkg="valkyrie_oscr" type="floor_publisher" respawn="false"/>

</launch>
